@(message: String)(sessions: List[Session])

@bootstrapmain(message) {

<h1>There are @sessions.size() LITA Forum Sessions</h1>

<p>The official LITA Forum schedule is available at: http://www.ala.org/lita/conferences/forum/2012/schedule.</p>
<p>Data for this schedule has been "crowd sourced" into a <a href="https://docs.google.com/spreadsheet/pub?key=0AjHQr6EmDdMLdE9MX05uOWx0OHg0aDdQYm45WUctM1E">Google Doc</a>.</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Topic</th>
            <th>Description</th>
            <th>Presenter(s)</th>
            <th>Room</th>
        </tr>
    </thead>

    <tbody>
        @for(session <- sessions) {

        <tr @if(session.topic contains "BREAK") { class="info" } >
            <td>@session.date</td>
            <td>@session.time</td>
            <td>@session.topic</td>
            <td>@session.description</td>
            <td>@session.presenter</td>
            <td>@session.room</td>
        </tr>
        }
    </tbody>

</table>


<a name="about"/>
<h2>About This Project</h2>
<p>This app slapped together at the last minute by <a href="https://github.com/peterdietz">Peter Dietz</a>, a Systems Developer / Enginer at The Ohio State University Libraries. <br/>
This app is written in the Play! Framework, which uses Java and Scala, find the <a href="https://github.com/peterdietz/LITASessions">source on GitHub</a>.</p>

}